.label-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gSettings-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.gSettings-flex  [type="number"] {
    width: 4em;
}

#settings {
    display: grid;
    grid-template-areas: "G G G G G G" "P P P P P P" "R R R R R R";
    width: 100%;
    background-color: #191919;
    margin: 1em 0 1em 0;
    text-align: center;
    box-shadow: 1px 1px 5px black;
    border-radius: 10px;
    padding: 1em 0 1em 0;
}

#settings h1 {
    font-size: 1.25em;
    text-decoration: underline;
}


#settings #generalSettings {
    grid-area: G;
}

#settings #litLabel {
    grid-area: L;
}

#settings #colorLabel {
    grid-area: C;
}

#settings #autoRotateLabel {
    grid-area: A;
}

#settings #positionSettings {
    grid-area: P;
    text-align: center;
}

#settings #rotationSettings {
    grid-area: R;
    text-align: center;
}

[type="checkbox"] {
    width: 27px;
    height: 27px;
}


.altTextured {
    background-color: #2a1b36;
    border-radius: 10px;
    width: fit-content;
}

.altTextured:hover {
    background-color: #3a1b36;
}

.altTextured #color {
    display: none;
}

#color {
    display: none;
}

#colorLabel {
    color: white;
    border-radius: 10px;
    padding: 0.25em;
    border: 1px solid black;
    box-shadow: 1px 1px 5px black;
}

#autoRotate {
    display: none;
}

#autoRotateLabel {
    color: white;
    border-radius: 10px;
    padding: 0.25em;
    border: 1px solid black;
    box-shadow: 1px 1px 5px black;
}

#lit {
    display: none;
}

#litLabel {
    color: white;
    border-radius: 10px;
    padding: 0.25em;
    border: 1px solid black;
    box-shadow: 1px 1px 5px black;
}

@media (min-width: 600px)
{
    #settings {
        grid-template-areas: "G G G G G G" "P P P R R R";
        width: 600px;
    }

    .textured {
        flex-direction: row;
        justify-content: space-around;
    }
}