body {
    background-color: #101010;
    background-position: center;
    color: #569cd6;
    font-family: Consolas, manaco, monospace;
    margin: 0;
    padding: 0;
}

main {
    margin: 5%;
}

header {
    width: 100%;
    margin: 0;
    text-align: center;
    background-color: #1c1c1c;
    box-shadow: black 0px 1px 4px;
}

header h1 {
    margin: 0px;
}

h1 {
    color: green;
}

code {
    border: solid black 1px;
    border-radius: 6px;
    box-shadow: black 4px 2px 5px;
}

pre {
    display: inline-block;
    margin: 1em 0px;
}

.code-container {
    width: fit-content;
    height: fit-content;
}